build
out
.vs
*.sln
.idea
cmake-build-debug
cmake-build-release
*.surgeProj
*.surge

android/local.properties  # machine-specific SDK path
android/.gradle
android/.idea
android/app/build/ 
android/app/.cxx/
android/build/
